.root {
	-fx-focus-color: transparent;
	-fx-border-radius: 0.0;
}

.text-area {
	-fx-padding: 0.0;
	-fx-background-insets: 0.0;
	-fx-border-width: 0.0;
}
.label {
	 -fx-background-color: white;
	 -fx-font-weight: bold;
}
.text-area .content {
	-fx-background-color: white, white, white, white;
}

.text-area:focused .content {
	-fx-background-color: white, white, white, white;
}

.text-area:focused {
	-fx-highlight-fill: transparent;
}

.anchor-pane {
	-fx-border-color: white;
}

.button {
	-fx-font-weight: bold;
}

.button:hover {
	-fx-text-fill: rgb(220.0, 220.0, 220.0);
	/* Font color on hover */
}

.button:pressed {
	-fx-text-fill: black;
}

.combo-box{
	
	 -fx-focus-traversable:false;
	 -fx-background-color: white;
	 -fx-text-fill: black; 
	 -fx-border-radius: 3.0 3.0 3.0 3.0;
	 -fx-border-color: 	#D3D3D3;
	 -fx-font-weight: normal;
}

.combo-box-popup .list-cell {    
	
     -fx-background-color: white;    
     -fx-text-fill: black;
      
}

.combo-box-popup .list-cell:hover {   
	 
     -fx-background-color: black;    
     -fx-text-fill: white;
}

.combo-box-popup .list-view {    
	
     -fx-background-color: white;    
    
}

.combo-box .arrow-button .arrow {
	
     -fx-background-color: black;
}

.combo-box .arrow-button {
	
     -fx-background-color: white;
}

.combo-box .text-input{
	 -fx-padding: 3.0,3.0,3.0,3.0;
	 -fx-border-radius: 3.0 3.0 3.0 3.0;
	 -fx-border-color: 	#D3D3D3;
     -fx-highlight-fill: black;
}

/* TextField */
.text-field{
	 -fx-background-color: white;
	 -fx-text-fill: black; 
	 -fx-border-color: 	black;
	 -fx-border-radius: 3.0 3.0 3.0 3.0;
	 -fx-highlight-fill: black;
	
}

.radio-button .radio {
	-fx-background-color: white;
	-fx-background-image: null;
    -fx-mark-color: black;
    -fx-border-radius: 15.0px;
    -fx-border-color: black;
}