/target/
/src/main/resources/IDs.txt
/src/main/resources/Tokens.txt
/src/main/resources/Autorespond.txt
/src/main/resources/Filter_Templates.txt
/logs
config.properties
.pydevproject
/Autorespond.txt
/Filter_Templates.txt

/Timers.txt
