<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR"
	packages="com.github.egubot.logging">
	<Properties>
		<Property name="filename">./logs</Property>
	</Properties>
	<Appenders>

		<Console name="ConsoleBare" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</Console>

		<Console name="ConsoleWithInfo" target="SYSTEM_OUT">
			<ThresholdFilter level="ERROR" onMatch="DENY"
				onMismatch="ACCEPT" />
			<PatternLayout
				pattern="%d{HH:mm:ss} %-5level %logger{0} - %msg%n" />
		</Console>

		<RollingFile name="LogFile"
			fileName="${filename}/errorLog.log"
			filePattern="${filename}/errorLog-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss} [%t] %-5level %logger{3} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200 KB" />
			</Policies>
			<DefaultRolloverStrategy max="10">
				<Delete basePath="${filename}" maxDepth="1">
					<IfFileName glob="errorLog-*.log" />
					<IfAccumulatedFileSize exceeds="30MB" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="JavacordLogFile"
			fileName="${filename}/javacordLog.log"
			filePattern="${filename}/javacordLog-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss} [%t] %-5level %logger{3} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10">
				<Delete basePath="${filename}" maxDepth="1">
					<IfFileName glob="javacordLog-*.log" />
					<IfAccumulatedFileSize exceeds="30MB" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<JavaFXAppender name="GUILog">
			<PatternLayout
				pattern="%d{HH:mm:ss} %-5level %logger{0} - %msg%n" />
		</JavaFXAppender>

	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="GUILog" />
		</Root>

		<Logger name="com.github.egubot.managers.ShutdownManager"
			level="info" additivity="false">
			<AppenderRef ref="ConsoleWithInfo" />
			<AppenderRef ref="GUILog" />
		</Logger>

		<Logger name="com" additivity="false">
			<AppenderRef ref="ConsoleWithInfo" level="warn" />
			<AppenderRef ref="LogFile" level="error" />
			<AppenderRef ref="GUILog" level="trace" />
		</Logger>

		<Logger name="org.javacord" level="info" additivity="false">
			<AppenderRef ref="JavacordLogFile" />
			<AppenderRef ref="GUILog" />
		</Logger>

	</Loggers>
</Configuration>